.carousel {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  .slide {
    scroll-snap-align: center;
    width: 100%;
    height: 500px;
    margin-right: 50px;
    position: relative;
  }
  .slide:last-of-type {
    margin-right: 0; /* Verwijder margin van laatste slide */
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }