/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

/* jouw code */

body ul {
	margin:0 auto;
	padding: 0;
	width: clamp(6em, 80vw, 30em);
	gap: .5em;
	background-color: hotpink;
	
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	list-style-type: none;
}

body ul li {
	aspect-ratio: 1;
	background-color: #ffdddd;
}