/* CSS DOCUMENT */

/* FONTS */
@font-face {
	font-family: 'sacramento';
	src: url('../fonts/sacramento.ttf') format('truetype');
		/* ^ Bron: https://fonts.google.com/specimen/Sacramento */
	/* src: url('../fonts/poppins.ttf') format('truetype'); */
	/* hoe voeg ik dit tweede font toe? */
		/* ^ Bron: https://fonts.google.com/specimen/Poppins */


	font-weight: normal;
	font-style: normal;
	/* font-display: fallback; */
	/* wat deed dit ook al weer? */
}



/* CSS REMEDY */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/* CUSTOM PROPERTIES */
:root {
	--text-color:#fff;
	--background-color:#000;
}

/* wordt gebruikt om alle elementen op de webpagina te selecteren */
/* zorg ervoor dat variabelen binnen variabelen kunnen worden aangepast */
* {
	--glow: 0 0em .3em white, 
			0 0em .4em var(--glow-color), 
			0 0em .5em var(--glow-color),
			0 0em .6em var(--glow-color),
			0 0em 7.5em var(--glow-color),
			0 0em 15em var(--glow-color);
}



/* DARK MODE */
/* @media (prefers-color-scheme:dark) { 
	:root {

	}
} */



/* REDUCED MOTION */
/* @media (prefers-reduced-motion) {
  :root {

  	}
} */



body {
	background-color: var(--background-color);
	/* cursor: */
}

h1 {
	font-family: 'sacramento', sans-serif;
	font-size: min(12vw, 8em);
	text-align: center;
	
	color: var(--text-color);

	text-shadow: var(--glow);
	--glow-color: #bc13fe;
}

h2 {
	font-size: 1em;
	font-size: min(15vw, 1.5em);
	text-align: center;

	color: var(--text-color);
}

body ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5em;

	margin: 0 auto;
	padding: 0em;

	width: clamp(6em, 80vw, 30em);
	height: clamp(6em, 80vw, 30em);
	
	list-style-type: none;

	background-color: transparent;

	border-radius: 1em;
	box-shadow: var(--glow);
	--glow-color: rgba(255, 255, 0, 0.11);
}

body ul li {
	background-color: transparent;
	border-radius: 1em;
	box-shadow: var(--glow);
	--glow-color:rgba(255, 255, 0, 0.231);
}

ul li input {
	margin: 0;
	width: 100%;
	height: 100%;

	appearance: none;

	filter: drop-shadow(0em 0em .8em #bc13fe);
}

ul li input::before {
	content: "";
	display: inline-block;

	width: 100%;
	height: 100%;

	background-color: white;

	opacity: 0;
	
	clip-path: polygon(50% 4%, 61% 35%, 95% 36%, 68% 57%, 81% 94%, 50% 70%, 19% 94%, 32% 57%, 4% 37%, 39% 35%);
	/* ^ Bron: https://bennettfeely.com/clippy/ */
}

ul li input:checked::before {
	opacity: 1;
}
