/* CSS DOCUMENT */


/* FONTS */
@font-face {
    font-family: 'sacramento';
    src: url('../fonts/sacramento.ttf') format('truetype');
    /* ^ Bron: https://fonts.google.com/specimen/Sacramento */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins.ttf') format('truetype');
    /* ^ Bron: https://fonts.google.com/specimen/Poppins */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventor_regular';
    src: url('../fonts/texgyreadventor-regular.otf') format('truetype');
    /* ^ Bron: https://fonts.google.com/specimen/Poppins */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventor_bold';
    src: url('../fonts/texgyreadventor-bold.otf') format('truetype');
    /* ^ Bron: https://fonts.google.com/specimen/Poppins */
    font-weight: normal;
    font-style: normal;
}



/* CSS REMEDY */
/* past de box-sizing toe op alle elementen */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*  definieert de cursorstijl */
button:not[disabled],
summary {
    cursor: pointer;
}



/* CUSTOM PROPERTIES */
/* definieert aangepaste eigenschappen in de :root selector */
:root {
    --text-color: #fff;
    --background-color: #000;
    /* --color-bal: #dffe13; */
}

/* wordt gebruikt om alle elementen op de webpagina te selecteren */
/* zorgt ervoor dat variabelen binnen variabelen kunnen worden aangepast */
* {
    --glow: 0 0em .3em white,
        0 0em .4em var(--glow-color),
        0 0em .5em var(--glow-color),
        0 0em .6em var(--glow-color),
        0 0em 7.5em var(--glow-color),
        0 0em 15em var(--glow-color);
}



/* DARK MODE */
@media (prefers-color-scheme:dark) {
    :root {
        --background-color: #dfdfdf;
        --color-bal: #151c36;
    }

    /* waarom werkt dit niet? */
    /* main button {
		box-shadow: var(--glow);
		--glow-color: #151c3677;
	} */

    /* ul li {
		background-color: white;
	} */

    h2 {
        color: #3e3e3e;
    }
}




/* STRUCTUUR & STYLING BODY */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    color: var(--text-color);
    /* cursor: */
}

/* als er bingo is geroepen */
body.bingo {
    background-color: aquamarine;
}


/* KEUZE IN KLEUR KAART */
body>section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* order is een CSS flexbox property die gebruikt wordt om de volgorde van de flexbox items aan te passen zonder de HTML structuur te wijzigen. Een hogere waarde van order zorgt ervoor dat een flexbox item verder naar het einde van de flex container wordt verplaatst.  */
    order: 2;
    padding: 10em 2em 0em 5em;
}

body>section input {
    appearance: none;
    width: 3em;
    height: 3em;

    border-radius: 5px;
}

body>section input:checked {
    background-color: transparent;
    border: 3px solid #fff;
}

body>section input:first-of-type {
    box-shadow: var(--glow);
    --glow-color: #1327fe;
}

body>section input:nth-of-type(2) {
    box-shadow: var(--glow);
    --glow-color: #dffe13;
}

body>section input:last-of-type {
    box-shadow: var(--glow);
    --glow-color: #bc13fe;
}

.blauwe-kaart {
    --glow-color: rgb(19, 39, 254, 0.3);
}

.gele-kaart {
    --glow-color: rgb(223, 254, 19, 0.3);
}

.gele-kaart label {
	color: #ffffff;
}

.paarse-kaart {
    --glow-color: rgb(188, 19, 254, 0.3);
}

.paarse-kaart label {
	color: #dffe13;
}


/* STRUCTUUR & STYLING MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    order: 3;

    margin: auto;
    margin-top: 3em;
    padding-right: 5em;
}

main h1 {
    font-family: 'sacramento', sans-serif;
    font-size: 5em;

    text-align: center;

    margin: 0;

    text-shadow: var(--glow);
    --glow-color: #bc13fe;
}


h1:hover {
    animation: neon-glow 0.8s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #bc13fe, 0 0 0.7em #bc13fe, 0 0 0.8em #bc13fe, 0 0 1em #bc13fe, 0 0 1.5em #bc13fe;
    }

    to {
        text-shadow: 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #fff, 0 0 0.7em #bc13fe, 0 0 0.8em #bc13fe, 0 0 1em #bc13fe, 0 0 1.5em #bc13fe, 0 0 2em #bc13fe;
    }
}

main h2 {
    font-family: 'texgyreadventor_regular', sans-serif;

    font-size: 1.25em;
    letter-spacing: .04em;

    margin-top: 1;

    z-index: 200;
}

main section {
    display: flex;
    flex-direction: row;
    align-items: center;

}


/* ROL EEN BAL + GEROLDE BALLEN */
main section button {
    font-family: 'texgyreadventor_bold', sans-serif;

    font-size: 1.2em;
    color: #3e3e3e;

    letter-spacing: .1em;
    text-transform: uppercase;

    margin: 2em;
    padding: 0em;

    width: 5em;
    height: 5em;

    background-color: #dffe13;

    border: none;
    border-radius: 50%;

    box-shadow: 0 0em .3em white,
        0 0em 7.5em var(--glow-color),
        0 0em 8em var(--glow-color);
    --glow-color: #dffe1377;
}

main section button:first-of-type:hover {
    box-shadow: 0 0em .25em white,
        0 0em 1em white,
        0 0em 4.5em var(--glow-color),
        0 0em 7.5em var(--glow-color);

    transition: .2s;
}


/* MEDIA QUERY */
@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
    }

    body>section {

        flex-direction: row;
        gap: 2em;
        padding: 2em 0em 2em 0em;
    }

    main {
        margin-top: 2em;
        padding: 0 2em;
    }
}


/* main section button:nth-of-type(2).shake-animation {
	animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4s both;
} */

/* ANIMATIES */
main section button:first-of-type.rotate-animation {
    animation: rotate 0.6s ease-in-out both;
}

main section button:nth-of-type(2).roll-in-animation {
    animation: rollIn 2s ease-in-out forwards;
}

main section button:nth-of-type(2).roll-out-animation {
    animation: rollOut 2s ease-in-out forwards;
}

main section button:nth-of-type(2) {
    position: absolute;
    left: -50%;
    /* startpositie */

    background-color: #2efe13;

    box-shadow: 0 0em .3em white,
        0 0em 7.5em var(--glow-color),
        0 0em 8em var(--glow-color);
    --glow-color: #4efe1377;
}


@keyframes rollIn {
    0% {
        left: 110%;
    }

    /* eindpositie */
    100% {
        left: 60%;
    }
}


/* !!!!!!!! */
@keyframes rollOut {
    0% {
        left: 60%;
    }

    100% {
        left: -50%;
    }
}


main section button:last-of-type {
    display: none;
}



/* animation rotate-center */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* ^ Bron: https://animista.net/play/attention/shake */


/* animation shake-horizontal */
@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

/* ^ Bron: https://animista.net/play/attention/shake */


/* animation vibrate */
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


main ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;

    margin: 3em auto;
    padding: 0em;

    width: clamp(6em, 80vw, 30em);
    height: clamp(6em, 80vw, 30em);

    list-style-type: none;

    background-color: transparent;

    border-radius: 20px;
}


main ul li {
    position: relative;

    background-color: transparent;

    border-radius: 20px;
    box-shadow: var(--glow);
    --glow-color: #1327fe4c;
}

.thirteenth-item {
    background-color: black;
}


main ul li input {
    position: relative;

    margin: 0;
    width: 100%;
    height: 100%;

    appearance: none;

    filter: drop-shadow(0em 0em .8em #bc13fe);

    z-index: 100;
}

main ul li input::before {
    content: "";
    display: inline-block;

    width: 100%;
    height: 100%;

    background-color: white;

    opacity: 0;

    clip-path: polygon(50% 4%, 61% 35%, 95% 36%, 68% 57%, 81% 94%, 50% 70%, 19% 94%, 32% 57%, 4% 37%, 39% 35%);
    /* ^ Bron: https://bennettfeely.com/clippy/ */
}

main ul li input:checked::before {
    opacity: 0.6;
}

main ul li label {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    font-family: 'sacramento', sans-serif;
    font-size: min(2em, 8vw);
    color: #bc13fe;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}