/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'sacramento';
	src: url('../fonts/sacramento.ttf') format('truetype');
	/* ^ Bron: https://fonts.google.com/specimen/Sacramento */
	font-weight: normal;
	font-style: normal;
	/* font-display: fallback; */
	/* wat deed dit ook al weer? */
}



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#fff;
	--color-white:#fff;
	--color-shadow: #bc13fe;
	--color-background:#000;
	/* --shadow: 
	0 0 0.5em var(--color-white),
	0 0 0.7em var(--color-white),
	0 0 2em var(--color-shadow),
	0 0 3em var(--color-shadow),
	0 0 5em var(--color-shadow),
	0 0 9em var(--color-shadow); */


	--color-blue: #40e1f7;
	--color-purple: #400d51;
	--color-licht-purple: #bc13fe;
	--color-roze: #d800a6;
	--color-geel: #e6ff00;
	--color-donker-geel: #f0b80c;
}



/****************/
/* JOUW STYLING */
/****************/
body {
	background-color:var(--color-background);
}

h1 {
	font-family: 'sacramento', sans-serif;
	font-size: 4em;
	text-align: center;
	color: var(--color-text);
	/* text-shadow: var(--shadow); */
	text-shadow: 0 0em 0.2em var(--color-shadow), 
				 0 0em 0.3em var(--color-shadow), 
		 		 0 0em 0.4em var(--color-shadow),
				 0 0em 0.6em var(--color-shadow),
				 0 0em 7.5em var(--color-shadow),
				 0 0em 15em var(--color-shadow),
				 0 0em 30em var(--color-shadow);
}

/* jouw code */

body ul {
	margin:0 auto;
	padding: 0;
	width: clamp(6em, 80vw, 30em);
	height: clamp(6em, 80vw, 30em);
	gap: .4em;
	background-color: var(--color-roze);
	
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	list-style-type: none;

	padding: 0.4em;
	border-radius: 0.5em;
	box-shadow: var(--shadow);
}

body ul li {
	background-color: var(--color-geel);
	border-radius: 0.5em;

}

ul li input {
	width: 100%;
	height: 100%;
	appearance: none;
	margin: 0;
	filter: drop-shadow(0em 0em 0.8em #bc13fe);
}

ul li input::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: var(--color-white);
	opacity: 0;
	clip-path: polygon(50% 4%, 61% 35%, 95% 36%, 68% 57%, 81% 94%, 50% 70%, 19% 94%, 32% 57%, 4% 37%, 39% 35%);
	/* ^ Bron: https://bennettfeely.com/clippy/ */
}

ul li input:checked::before {
	opacity: 1;
}
