/* CSS DOCUMENT */


/* FONTS */
@font-face {
	font-family: 'sacramento';
	src: url('../fonts/sacramento.ttf') format('truetype');
	/* ^ Bron: https://fonts.google.com/specimen/Sacramento */
	font-weight: normal;
	font-style: normal;
	/* standaard lettertypefamilie zal gebruikt worden als het aangepaste lettertype niet kan worden gedownload of geladen. Dit zorgt ervoor dat de inhoud van de pagina sneller wordt weergegeven, zelfs als het aangepaste lettertype nog niet is geladen. */
	font-display: fallback;
}

@font-face {
	font-family: 'poppins';
	src: url('../fonts/poppins.ttf') format('truetype');
	/* ^ Bron: https://fonts.google.com/specimen/Poppins */
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}



/* CSS REMEDY */
/* past de box-sizing toe op alle elementen */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*  definieert de cursorstijl */
button:not[disabled], summary {
	cursor: pointer;
}



/* CUSTOM PROPERTIES */
/* definieert aangepaste eigenschappen in de :root selector */
:root {
	--text-color:#fff;
	--background-color:#000;
}

/* wordt gebruikt om alle elementen op de webpagina te selecteren */
/* zorgt ervoor dat variabelen binnen variabelen kunnen worden aangepast */
* {
	--glow: 0 0em .3em white, 
			0 0em .4em var(--glow-color), 
			0 0em .5em var(--glow-color),
			0 0em .6em var(--glow-color),
			0 0em 7.5em var(--glow-color),
			0 0em 15em var(--glow-color);
}



/* DARK MODE */
/* @media (prefers-color-scheme:dark) { 
	:root {

	}
} */



/* REDUCED MOTION */
/* @media (prefers-reduced-motion) {
  :root {

  	}
} */


body {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--background-color);
	color: var(--text-color);
	/* cursor: */
}

/* als er bingo is geroepen */
body.bingo {
	background-color: aquamarine;
}

body section {
	display: flex;
	flex-direction: column;
	gap: 2em;
	/* order is een CSS flexbox property die gebruikt wordt om de volgorde van de flexbox items aan te passen zonder de HTML structuur te wijzigen. Een hogere waarde van order zorgt ervoor dat een flexbox item verder naar het einde van de flex container wordt verplaatst.  */
	order: 2;
}

body section p {
	font-family: 'poppins', sans-serif;
	margin-top: .2em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	order: 3;

	margin: auto;
	margin-top: 3em;
}

main h1 {
	font-family: 'sacramento', sans-serif;

	/* de size is 10vw tot dat het font 8em heeft bereikt */
	/* nog naar kijken */
	font-size: min(15vh, 5em);	

	text-align: center;

	margin: 0;
	
	text-shadow: var(--glow);
	--glow-color: #bc13fe;
}

main h2 {
	font-family: 'poppins', sans-serif;

	/* nog naar kijken */
	font-size: min(15vh, 1.5em);	
	
	margin: 0;

	z-index: 200;
}

main button {
	font-family: 'poppins', sans-serif;
	/* nog naar kijken */
	font-size: min(15vh, 0.8em);

	margin: 2em;
	padding: 1em;
	width: fit-content;

	background-color: transparent;
	color: var(--text-color);

	border: none;
	/* border-radius: 10px */

	box-shadow: var(--glow);
	--glow-color: #fe13ee;
}

main ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5em;

	margin: 3em auto;
	padding: 0em;

	width: clamp(6em, 80vw, 30em);
	height: clamp(6em, 80vw, 30em);
	
	list-style-type: none;

	background-color: transparent;

	border-radius: 20px;
}

main ul:first-of-type li {
	position: relative;

	background-color: transparent;

	border-radius: 20px;
	box-shadow: var(--glow);
	--glow-color: #1327fe4c;
}

.thirteenth-item {
    background-color: black;
}

main ul li input {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;

	appearance: none;

	filter: drop-shadow(0em 0em .8em #bc13fe);

	z-index: 100;
}

main ul li input::before {
	content: "";
	display: inline-block;

	width: 100%;
	height: 100%;

	background-color: white;

	opacity: 0;
	
	clip-path: polygon(50% 4%, 61% 35%, 95% 36%, 68% 57%, 81% 94%, 50% 70%, 19% 94%, 32% 57%, 4% 37%, 39% 35%);
	/* ^ Bron: https://bennettfeely.com/clippy/ */
}

main ul li input:checked::before {
	opacity: 1;
}

main ul li label {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;

	font-family: 'sacramento', sans-serif;
	font-size: min(2em, 8vw);	
	color:#bc13fe;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}