/* CSS Document */

@font-face {
    font-family: 'abeatbykairegular';
    src: url('../fonts/abeatbykai-ypxy-webfont.woff2') format('woff2'),
         url('../fonts/abeatbykai-ypxy-webfont.woff') format('woff');
	/* ^ Bron: https://www.fontsquirrel.com/tools/webfont-generator
		 https://www.fontspace.com/abeatbykai-font-f11363 */
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}


/* CSS REMEDY */
*, *::after, *::before {
  box-sizing: border-box;  
}


/* CUSTOM PROPERTIES */
:root {
	--color-background:#eee;

	--color-text-red: #e01f3d;
	--color-text-white: #ffffff;

	--color-wave-light: #3a3a3a;
	--color-wave-dark: #e01f3d;	
	--gradient-background: linear-gradient(#c4c4c4, #272727);

	--cursor-black: url(../images/cursor.png) 30 20, auto;
	--cursor-white: url(../images/cursor_dark.png) 30 20, auto;

	/* animaties */
	--pulse-animation: pulse 2s ease 2s infinite normal forwards;
	--pulse-animation-pause: pulse ease 2s infinite normal forwards paused;
	--pulse-animation-play: pulse ease 2s infinite normal forwards;

	--color-animation-pause: colorChange 8s linear infinite paused;
	--color-animation-play: colorChange 8s linear infinite;
	--color-animation: colorChange 10s linear infinite;
	/* Bron: https://webcode.tools/generators/css/keyframe-animation */

	--wave-animation: wave ease 2s infinite normal forwards;

	--text-drop-animation-pause: textDrops ease 2s infinite normal forwards paused;
	--text-drop-animation-play: textDrops ease 2s infinite normal forwards;
}



/* DARK MODE */
@media (prefers-color-scheme:dark) { 
	body {
		background-image: var(--gradient-background);
		--color-text-red: var(--color-text-white);
		--cursor-black: var(--cursor-white);
		--color-wave-light: var(--color-wave-dark);
	}
}



/* MIJN STYLING */

body {
	display: grid;
	place-content: center;
	height: 100dvh;
	/* Bron: https://codepen.io/shooft/pen/gOdbPKV */
	margin: 0;

	background: var(--background);

	cursor: var(--cursor);
	
	/* position: relative; */
	/* overflow-x: hidden; */
}

h1 {
	font-family: abeatbykairegular, sans-serif;
	font-size: min(15vw, 5em);
	display: flex;
	justify-content: center;
	align-items: center;
	/* de size is 15vw tot dat het font 5em heeft bereikt */
	color: var(--color-text-red);
	text-shadow: 0 0.01em 1px rgba(0,0,0,0.10), 
				 0 0.02em 2px rgba(0,0,0,0.10), 
				 0 0.04em 4px rgba(0,0,0,0.10), 
				 0 0.08em 8px rgba(0,0,0,0.10),
				 0 0.16em 16px rgba(0,0,0,0.10);
	/* Bron: https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
	/* schaduw lagen, scherpte, afstand, spreiding, kleur & alfa (transparant) */

	position: relative;
}

/* span {
	display: inline-block;
	animation: var(--pulse-animation-pause);
	padding-left: 0.4em;
} */


h1:hover span {
	/* animation: var(--pulse-animation-play), var(--color-animation); */
	cursor: pointer;
}


/* vierkantje */
/* h1::after {
	content:"";
	position: absolute;
	bottom: -2em;
	left: 0;
	display:inline-block;
	width:var(--stick-size);
	height:var(--stick-size);
	background-color:dodgerblue;
} */

/* rondje met b */
/* h1::after {
	content:"b";
	color: white;

	position: absolute;
	bottom: -2em;
	left: 0;
	display:inline-block;
	width:var(--stick-size);
	height:var(--stick-size);
	border-radius: 50%;
	background-color:black;
} */

/* wavy line */
/* h1::after {
	content: 'llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll';
	position: absolute;
	display: block;
	width: 100vw;
	color: transparent;
	text-decoration: wavy;
	text-shadow: none;
	text-decoration-color: var(--color-wave-light);
	text-decoration-line: underline;
	text-decoration-thickness: 1px;

	/* animation: var(--pulse-animation-play); */


@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	5% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	16% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	40% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	45% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	52% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	68% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	75% {
		animation-timing-function: ease-out;
		transform: scale(1.1);
	}

}


@keyframes colorChange {
	100% {
		filter: hue-rotate(360deg);
	}
}

@keyframes wave {
0% {
	transform: translateX(-1px);
}
100% {
	transform: translateX(-10px);
}
}

@keyframes wave {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	5% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	16% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	40% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	45% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	52% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	68% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	75% {
		animation-timing-function: ease-out;
		transform: scale(1.1);
	}
}



span {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 2vw;
	animation: var(--pulse-animation-pause);
}

/* span::before {
	content: "";
	width: 1.5vh;
	height: 12vh;
	position: absolute;
	bottom: -3em;
	left: 0;
	background-color: hotpink;
} */

span::after {
	content:"";
	display: inline-block;
	position: absolute;
	background: #272727;
	border-radius: 50%;
	height: 10vh;
	width: 1.5vh;
	bottom: -20vh;
	animation: animate 1.2s linear infinite;
	transform-origin: center;
}

span::before {
	content:"";
	display: inline-block;
	position: absolute;
	background: #3a3a3a;
	border-radius: 50%;
	height: 10vh;
	width: 1.5vh;
	left: -1.5vh;
	bottom: -20vh;
	animation: animate 1.2s linear infinite;
	transform-origin: center;
}


@keyframes animate {
	50% {
		height: 20%;
	}
	100% {
		height: 100%;
	}
}

span:first-of-type::before {
	animation-delay: 0s;
}

span:first-of-type::after {
	animation-delay: 0.3s;
}

span:nth-of-type(2)::before {
	animation-delay: 0.6s;
}

span:nth-of-type(2)::after {
	animation-delay: 0.9s;
}

span:nth-of-type(3)::before {
	animation-delay: 0.6s;
}

span:nth-of-type(3)::after {
	animation-delay: 0.3s;
}

span:nth-of-type(4)::before {
	animation-delay: 0s;
}

span:nth-of-type(4)::after {
	animation-delay: 0.3s;
}

span:last-of-type::before {
	animation-delay: 0.6s;
}

span:last-of-type::after {
	animation-delay: 0.9s;
}


/* span:nth-of-type(1)::after {
	background-color: red;
} */



/* h1:hover span {
	animation: var(--pulse-animation-play), var(--color-animation);
} */


/* span {
animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, fadeIn 1s both;
}

@keyframes flipper{
	from{transform: rotateX(90deg);}
	to{transform: rotateX(0deg);}
  }
  
  @keyframes fadeIn{
	from{opacity:0};
	to{opacity:1};
  } */