/* CSS Document */


/* FONTS */
/* @font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */ 

/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;600;800;900&family=Varela+Round&display=swap');
font-family: 'Varela Round', sans-serif; */
/* ^ bron: https://fonts.google.com/specimen/Varela+Round */

@font-face {
    font-family: 'eenfont';
    src: url('../fonts/Abeatbykai-YPXy.otf');
    font-weight: normal;
	font-style: normal;
}
/* ^ bron: https://www.fontspace.com/abeatbykai-font-f11363 */



/* CSS REMEDY */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/* CUSTOM PROPERTIES */
:root {
	--color-background:#eee;
	--color-text-red: #e01f3d;
	--color-text-white: #ffffff;
	/* --shadow-color: #474747; */
	--gradient-background: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #2a2929 12px);

	/* animaties */
	--beat-animation: beat 1.5s ease;
	--my-pulse-animation: pulseAn 4s ease-out infinite;
	--color-animation: colorChange 8s linear infinite;

	--pulse-animation: pulse 2s ease 0s infinite normal forwards;
	/* Bron: https://webcode.tools/generators/css/keyframe-animation */
}



/* DARK MODE */
@media (prefers-color-scheme:dark) { 
	body {
		background-image: var(--gradient-background);
		--color-text-red: var(--color-text-white);
	}
}



/* JOUW STYLING */

body {
	background-color: var(--color-background);

	height:100dvh;
	display: grid;
	place-content: center;
	/* Bron: https://codepen.io/shooft/pen/gOdbPKV */
	/* 100dvh adapts itself to be either the large or small viewport size. */
}

h1 {
	font-family: eenfont, sans-serif;
	font-size: 5em;
	color: var(--color-text-red);
	text-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				 0 2px 2px rgba(0,0,0,0.11), 
				 0 4px 4px rgba(0,0,0,0.11), 
				 0 6px 8px rgba(0,0,0,0.11),
				 0 8px 16px rgba(0,0,0,0.11);
	/* Bron: https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
	/* schaduw lagen, scherpte, afstand, spreiding, kleur & alfa (transparant) */
	animation: var(--pulse-animation);
}

/* span {
	opacity: 1;
} */


@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
/* Bron: https://webcode.tools/generators/css/keyframe-animation */











/* @keyframes colorChange {
	100% {
		filter: hue-rotate(360deg);
	}
} */

/* @keyframes pulseAn {
	100% {
		opacity: 0;
	}
} */

/* @keyframes beat {
	0%, 20% {
	}
	30%, 40% {
	  transform:scale(1.3);
	}
	43% {
	  transform:scale(1);
	}
	60% {
	  transform:scale(0.8);
	  opacity: 0.5;
	}
	65% {
	  transform:scale(1.3);
	}
	70%, 100% {
	  transform:scale(1);
	}
} */