/* CSS Document */


/* FONTS */
/* @font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */ 

/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;600;800;900&family=Varela+Round&display=swap');
font-family: 'Varela Round', sans-serif; */
/* ^ bron: https://fonts.google.com/specimen/Varela+Round */

@font-face {
    font-family: 'eenfont';
    src: url('../fonts/Abeatbykai-YPXy.otf');
    font-weight: normal;
	font-style: normal;
}
/* ^ bron: https://www.fontspace.com/abeatbykai-font-f11363 */



/* CSS REMEDY */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}



/* CUSTOM PROPERTIES */
:root {
	--color-background:#eee;
	--color-text-red: #e01f3d;
	--color-text-white: #ffffff;
	/* --shadow-color: #474747; */
	--gradient-background: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #2a2929 12px);

	/* animaties */
	--beat-animation: beat 1.5s ease;
}



/* DARK MODE */
@media (prefers-color-scheme:dark) { 
	body {
		background-image: var(--gradient-background);
		--color-text-red: var(--color-text-white);
	}
}



/* JOUW STYLING */

body {
	background-color: var(--color-background);

	height:100dvh;
	display: grid;
	place-content: center;
	/* Bron: https://codepen.io/shooft/pen/gOdbPKV */
	/* 100dvh adapts itself to be either the large or small viewport size. */
}

h1 {
	font-family: eenfont, sans-serif;
	font-size: 5em;
	color: var(--color-text-red);
	/* text-shadow: #474747 1px 0 10px; */
}



/* @keyframes beat {
	/* jouw code hier */
	/* 0%, 20% { */
	  /* tot 30% geen animatie */
	  /* voor de pauze tussen de hartslagen */
	  /* transform:scale(1);
	}
	30%, 40% {
	  transform:scale(1.3);
	}
	43% {
	  transform:scale(1);
	}
	60% {
	  transform:scale(0.8em);
	  /* opacity: 0.5; */
	/* }
	65% {
	  transform:scale(1.3);
	}
	70%, 100% {
	  transform:scale(1);
	} */
/* } */

h1 {
	animation: var(--beat-animation);
}